@import '../../scss/_variables.scss';

.footer {
	
    
  	border-bottom: 1px solid $gray-line;
  	padding: 15px 0;
	background-color: #f8ecec;
	border-radius: 0px 0px 30px 30px;
	min-height: 140px;
	

	
  
  .footer-container {
	@media(max-width: 990px){
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
    display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1250px;
	p {
		color: #181818;
		font-weight: bold;
	  }
   
	  .footer_telephone{
	display: flex;
	img{
		margin: 0 10px 0 0;
	}
	  }

	.footer-social{
		
		display: flex;
		min-width: 70px;
		height: 60px;
		margin:0 20px 0 0;
		img{
			padding: 10px;
		}
		@media(max-width: 990px){
			display: flex;
			justify-content: center;
			width: 60px;
		height: 60px;
		}

	}
	
	
	

	.footer__logo {
    display: flex;
	@media(max-width: 990px){
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		img{
			display: none;
		}
	}
	
	margin: 20px;
    img {
      margin: 0 10px;
	  width: 70px;
		height: 60px;
    }
	

	

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #181818;
	  font-weight: bold;
    }
  }


  }
}

